.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10rem 0 0;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.movielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moviecard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  margin: 30px;
  text-align: center;
}

.moviecard:hover {
  transform: scale(1.11);
  transition: 0.5s;
}

.overview {
  display: flex;
  width: 400px;
}

.arrowback:hover {
  cursor: pointer;
}

.header {
  display: flex;
  transition: 0.3s;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header h1:hover {
  cursor: pointer;
}

.header h4:hover {
  cursor: pointer;
}

.header h4 {
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

.header h1 {
  margin-right: 20px;
  margin-left: 15px;
  color: rgb(160, 4, 4);
}

.genrelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genrecard {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-weight: 600;
}

.searchbox {
  display: flex;
  align-items: center;
  width: 500px;
}

.main img {
  border-radius: 4px;
}

.movieinfo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.movieinfo p {
  font-weight: 500;
}

